aiofiles==25.1.0
annotated-types==0.8.0
anyio==4.15.1
argcomplete==3.7.2
async-lru==2.3.0
attrs==26.1.0
backports.zstd==1.7.0
bcrypt==5.0.0
beautifulsoup4==4.15.0
boto3==1.43.107
botocore==1.43.107
brotli==1.2.0
cachetools==7.2.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.3
cross-web==0.7.0
cryptography==50.0.2
cycler==0.12.1
dacite==1.9.2
Deprecated==1.3.1
dill==0.4.1
dnspython==2.8.0
exceptiongroup==1.3.1
fiftyone==1.22.1
fiftyone-brain==0.25.0
fiftyone_db==1.4.1
fonttools==4.66.1
ftfy==6.3.1
glob2==0.7
graphql-core==3.2.13
h11==0.16.0
h2==4.4.1
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.16.0
Hypercorn==0.18.0
hyperframe==6.1.0
idna==3.20
ijson==3.5.1
ImageIO==2.38.0
inflate64==1.0.4
invoke==3.0.3
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.6.0
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.1.1
kiwisolver==1.5.1
lazy-loader==0.6
MarkupSafe==3.0.3
matplotlib==3.11.2
mongoengine==0.29.3
motor==3.6.1
multivolumefile==0.2.3
narwhals==2.26.0
networkx==3.6.1
numpy==2.4.6
opencv-python-headless==4.14.0.94
packaging==26.3
pandas==3.0.6
paramiko==5.0.0
pillow==12.3.0
plotly==6.9.0
pprintpp==0.4.0
priority==2.0.0
psutil==7.2.2
py7zr==1.1.3
pybcj==1.0.8
pycparser==3.0
pycryptodomex==3.23.0
pydantic==2.13.5
pydantic_core==2.46.5
pydash==8.1.0
pymongo==4.9.2
PyNaCl==1.6.2
pyparsing==3.3.3
pypcd4==1.5.0
pyppmd==1.3.1
python-dateutil==2.9.0.post0
python-neo-lzf==0.3.5
pytz==2026.4
PyYAML==6.0.3
rarfile==4.5
regex==2026.9.29
requests==2.34.2
retrying==1.4.2
rtree==1.4.1
s3transfer==0.19.2
scikit-image==0.26.0
scikit-learn==1.9.1
scipy==1.17.1
six==1.17.0
sortedcontainers==2.4.0
soupsieve==2.10
sse-starlette==3.5.0
sseclient-py==1.9.0
starlette==1.3.1
strawberry-graphql==0.316.0
tabulate==0.10.0
texttable==1.7.0
threadpoolctl==3.7.0
tifffile==2026.3.3
tqdm==4.70.1
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
tzlocal==5.4.4
universal-analytics-python3==1.1.1
urllib3==2.8.0
voxel51-eta==0.17.0
wcwidth==0.9.1
wrapt==2.5.0
wsproto==1.3.2
xmltodict==1.0.4
